./PlayTimeGenre.csv
./UserForGenre.csv
./UserForGenre.parquet
./Recommend_functions.csv
./sentiment_analysis_function.csv
./Analisis_Sentimientos_reviews.ipynb
./EDA_steam_games.ipynb
./ETL_steam_games.ipynb
./ETL_user_reviews.ipynb
./ETL_users_items.ipynb
./Funcion_PlayTimeGenre.ipynb
./Funcion_UserForGenre.ipynb
./Funcion_sentiment_analysis.ipynb
./Funciones_Recommend.ipynb
./recomendacion_juego.ipynb
./recomendacion_juego_function.csv
./recomendacion_juego_function.parquet
./README.md
./test.ipynb