./Datasets
./Analisis_Sentimientos_reviews.ipynb
./EDA_steam_games.ipynb
./ETL_steam_games.ipynb
./ETL_user_reviews.ipynb
./ETL_users_items.ipynb
./Funcion_PlayTimeGenre.ipynb
./Funcion_UserForGenre.ipynb
./Funcion_sentiment_analysis.ipynb
./Funciones_Recommend.ipynb
./README.md